.container{
    max-width: 625px;
    position: absolute;
    left: 30%;
}
p{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', serif;
    
}
.naslov{
    font-family: 'Merriweather', serif;
    margin-bottom: 22px;
    padding-top: 28px;
    color: white;
}

/*Žuta slika*/
.zutaslika{
    background-image: url("C:/Users/Nikola/Desktop/domaci/žuta.jpg");
    background-size: cover;
    padding-left: 25px;
    height: 269px;
    margin-bottom: 25px;
}
.prvired{
    display: inline;
    position: absolute;
    top: 196px;

}
.drugired{
    display: inline;
    position: absolute;
    top: 239px;
}
.botuni{
    padding: 8px;
    font-size: 15px;
    letter-spacing: 0.4px;
    background-color: inherit;
    margin-left: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
     color:white;
     
}

/*Roza slika*/
.ljubicastaslika{
    background: url("C:/Users/Nikola/Desktop/domaci/roza.jpg");
    background-size: cover;
    padding-left: 25px;
    height: 250px;
    
}
.prvired2{
    display: inline;
    position: absolute;
    top: 471px;
}
.drugired2{
    display: inline;
    position: absolute;
    top: 515px; 
}
.botuni2{
    padding: 8px;
    font-size: 15px;
    letter-spacing: 0.4px;
    background-color: inherit;
    margin-left: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
     color: white;
}

/*slika telefona*/
.slikatelefona{
    background: url("C:/Users/Nikola/Desktop/domaci/telefon.jpg");
    background-size: cover;
    padding-left: 25px;
    height: 247px;
    margin-top: 25px;
    
}
.prvired3{
    display: inline;
    position: absolute;
    top: 735px;
}
.drugired3{
    display: inline;
    position: absolute;
    top: 777px;
}
.botuni3{
    padding: 8px;
    font-size: 15px;
    letter-spacing: 0.4px;
    background-color: inherit;
    margin-left: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
     color: white;
}


